* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.5rem;
}

.calculator {
    border: 1px solid black;
    width: 400px;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.calculator-input {
    width: 100%;
    font-size: 40px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-bottom: 10px; */
    background-color: rgb(185, 206, 199);
    direction: rtl;
}

button {
    height: 50px;
    background-color: antiquewhite;
    border: 3px solid antiquewhite;
    font-size: 2.5rem;
    color: rgb(60, 55, 55);
    border-radius: 5px;
    cursor: pointer;
}

.wrapper-keys {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.equal-sign {
    grid-area: 2/4/6/5;
    height: 100%;
}